*{
    box-sizing: border-box;
}

header{
    height: 100px;
    padding-top: 50px;
    background-color: #4EA0FF;
    background-image: url(../img/pattern.png);
    background-size: 50%;
}

header img{
    height: 100%;
}

main h2, h3{
    color: grey;
}

main h2{
    font-size: 20px;
    margin: 0;
}

main h3{
    font-size: 16px;
    margin-top: 0;
}

main a{
    color: #4EA0FF;
    text-decoration: none;
}

main img{
    height: 300px;
}

.caption{
    margin-top: 0;
    font-size: 14px;
}

main em{
    font-style: normal;
    background-color: yellow;
}

thead{
    background-color: #4EA0FF;
    color: white;
}

.third{
    width: 50%;
}

.related{
    margin-top: 50px;
}

.related div{
    height: 300px;
    width: 400px;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 20px;
    margin-top: 20px;
}

.related h3{
    color: white;
    font-size: 24px; 
}

#first{
    background-image: url(../img/monitor.jpg);
}

#second{
    background-image: url(../img/graph.jpg);
}